{% extends 'base.html.twig' %}

{% block title %}MyRig! - Users{% endblock %}

{% block body %}
    <section class="card text-white bg-dark container-lg">
        <div class="card-body">
            <h2>Curious about our other <s>customers</s> users rig ?</h2>
            <p>You're in the right place for that !</p>
            <div class="user-grid">
                {% for user in users %}
                    <div class="user">
                            {% if file_exists('../public/images/users/' ~ user.id ~ '.webp') %}
                                <picture>
                                    <source srcset="/images/users/{{ user.id }}.webp" type="image/webp">
                                    <img src="/images/users/{{ user.id }}.jpg" alt="{{ user.username }}-avatar"
                                         class="user-avatar" loading="lazy"/>
                                </picture>
                            {% else %}
                                <picture>
                                    <source srcset="/images/users/default.webp" type="image/webp">
                                    <img src="/images/users/default.jpg" alt="default-avatar"
                                         class="user-avatar" loading="lazy"/>
                                </picture>
                            {% endif %}
                        <a href="#" class="user-name text-light">{{ user.username }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
