.user-grid{
    display: grid;
    justify-items: center;
    gap: 2rem;
    text-align: center;
}
.user{
    width: 100%;
    display: grid;
    gap: 1rem;
}
.user-avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (min-width: 62rem){
    .user-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 90rem){
    .user-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}