.user-grid{
    display: grid;
    justify-items: center;
    gap: 2rem;
    text-align: center;
}
.user{
    width: 100%;
    display: grid;
    gap: 1rem;
}
.user-avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}