.avatar-grid{
    display: flex;
    gap: 2rem;
}
.avatar{
    max-width: 7.5rem;
    max-height: 7.5rem;
    margin-block-end: 1rem;
}
.avatar-image{
    max-width: 100%;
    object-fit: fill !important;
}