{% extends 'base.html.twig' %}

{% block title %}MyRig! - Register{% endblock %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-dismissible alert-danger container-lg">
            <buton type="button" class="btn-close" data-bs-dismiss="alert"></buton>
            {{ message }}
        </div>
    {% endfor %}

    <section class="card text-white bg-dark container-lg">
        <div class="card-body">
            <div class="registration-text">
                <h2 class="mb-4">Register to MyRig!</h2>
                <p>You need to register to start using its cool and multiple features !</p>
                <p>Hurry up, it might not stay free for long ...</p>
            </div>
            <div class="registration-form my-5">
                {{ form_start(registrationForm) }}
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
{% endblock %}
